.Reservation {
	text-align: center;
	background-color: white;
	color: teal;
	border: 5px solid teal;
	border-radius: 10px;
	width: 200px;
	padding: 15px;
}

.Reservation h2 {
	font-weight: bold;
	margin: 0;
}

.Reservation button {
	background-color: teal;
	color: white;
	width: 175px;
	height: 25px;
  font-size: 15px;
}
